# Algerian Forest Fires Dataset

Data Set Information:

The dataset includes 244 instances that regroup a data of two regions of Algeria,namely the Bejaia region located in the northeast of Algeria and the Sidi Bel-abbes region located in the northwest of Algeria.

122 instances for each region.

The period from June 2012 to September 2012. The dataset includes 11 attribues and 1 output attribue (class) The 244 instances have been classified into fire(138 classes) and not fire (106 classes) classes.

Attribute Information:

     1. Date : (DD/MM/YYYY) Day, month ('june' to 'september'), year (2012) Weather data observations
     2. Temp : temperature noon (temperature max) in Celsius degrees: 22 to 42
     3. RH : Relative Humidity in %: 21 to 90
     4. Ws :Wind speed in km/h: 6 to 29
     5. Rain: total day in mm: 0 to 16.8 FWI Components
     6. Fine Fuel Moisture Code (FFMC) index from the FWI system: 28.6 to 92.5
     7. Duff Moisture Code (DMC) index from the FWI system: 1.1 to 65.9
     9. Drought Code (DC) index from the FWI system: 7 to 220.4
    10. Initial Spread Index (ISI) index from the FWI system: 0 to 18.5
    11. Buildup Index (BUI) index from the FWI system: 1.1 to 68
    12. Fire Weather Index (FWI) Index: 0 to 31.1
    13. Classes: two classes, namely Fire and not Fire

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
df = pd.read_csv('Datasets/Algerian_forest_fires_cleaned_dataset.csv')
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire,1
239,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,not fire,1
240,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1
241,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1
242,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1